# Copy this file to terraform.tfvars and fill in your actual values

# GCP Configuration
gcp_project_id = "your_gcp_project_id"
gcp_region     = "us-central1"

# Cloudflare Configuration
cloudflare_api_token  = "your_api_token"
cloudflare_account_id = "your_account_id"
cloudflare_zone_id    = "zone_id"
cloudflare_zone       = "felipemalacarne.com.br"

vm_host = "0.0.0.0"
